<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/styles/style.css" />
    <title>Animals</title>
</head>
<body>
<ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/sign_in">Sign In</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/animals">Animals</a></li>
    <li><a href="/login">Log In</a></li>
</ul>

<table>
  <tr>
    <th>Type</th>
    <th>Age</th>
    <th>Race</th>
    <th>Sex</th>
    <th>Price</th>
  </tr>
    {%for i in range(0, len)%}
  <tr>
    <td>{{all_animals[i][1]}}</td>
    <td>{{all_animals[i][2]}}</td>
    <td>{{all_animals[i][3]}}</td>
    <td>{{all_animals[i][4]}}</td>
      <td>{{all_animals[i][5]}}</td>
  </tr>
    {%endfor%}

</table>
<img src="static/images/logo.png" alt="Italian Trulli">

</body>
</html>